<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef1477bc-52cf-4483-964c-a785cf08c7ed" Alias="Assurance-Audits.svg" Level="2">
  <Info>
    <Parent Key="5f04cc1e-02e9-4d8e-b9a3-fbdd1c85810b">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/AssuranceAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T11:00:16</CreateDate>
    <NodeName Default="Assurance-Audits.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/j1flmdou/assurance-audits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>