<?xml version="1.0" encoding="utf-8"?>
<Media Key="eca170fa-549b-4d1f-afee-eced7c1d4185" Alias="Bonds-Commodities.svg" Level="2">
  <Info>
    <Parent Key="5f04cc1e-02e9-4d8e-b9a3-fbdd1c85810b">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/BondsCommoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T11:00:16</CreateDate>
    <NodeName Default="Bonds-Commodities.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bdgbgdua/bonds-commodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>