<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c75b91c-2f2f-47ef-bca6-1add83156062" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T10:30:46</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3ycnp5ru/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>