<?xml version="1.0" encoding="utf-8"?>
<Media Key="32cdf671-a985-48d5-ad99-d38176bb68e3" Alias="BrandonKerr.svg" Level="2">
  <Info>
    <Parent Key="a2b7c6fb-d1e6-488e-baa5-efde19918b2e">Team Members</Parent>
    <Path>/TeamMembers/BrandonKerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T17:07:53</CreateDate>
    <NodeName Default="BrandonKerr.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qnfh5ue4/brandonkerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>