<?xml version="1.0" encoding="utf-8"?>
<Media Key="160f285c-b364-4347-97f6-b3ffc255f516" Alias="CallBack-Signature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CallBackSignaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T12:12:17</CreateDate>
    <NodeName Default="CallBack-Signature.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v0kl13d5/callback-signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>