<?xml version="1.0" encoding="utf-8"?>
<Media Key="dcb39330-b904-4dab-ad79-e441022d643d" Alias="Component-Picture.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ComponentPicturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T17:58:00</CreateDate>
    <NodeName Default="Component-Picture.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yixbcpq5/component-picture.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>