<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6aa77ea-e0bd-4fb1-89e8-832ab17a2077" Alias="Financial-Advisor.svg" Level="2">
  <Info>
    <Parent Key="5f04cc1e-02e9-4d8e-b9a3-fbdd1c85810b">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/FinancialAdvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T11:00:16</CreateDate>
    <NodeName Default="Financial-Advisor.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ddfaqffg/financial-advisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>