<?xml version="1.0" encoding="utf-8"?>
<Media Key="64ae51d2-3656-406f-a0ba-0c204283f489" Alias="Group-Picture.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GroupPicturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T14:07:26</CreateDate>
    <NodeName Default="Group-Picture.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/edwazbsn/group-picture.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>