<?xml version="1.0" encoding="utf-8"?>
<Media Key="54ac3357-632b-4898-89f0-27cf81729363" Alias="Img-5.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-11T17:33:05</CreateDate>
    <NodeName Default="Img-5.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uwha3nrq/img-5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>