<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0ea9e7e-8ce8-4267-b8c6-07bb507021af" Alias="KevinGardner.svg" Level="2">
  <Info>
    <Parent Key="a2b7c6fb-d1e6-488e-baa5-efde19918b2e">Team Members</Parent>
    <Path>/TeamMembers/KevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T17:07:54</CreateDate>
    <NodeName Default="KevinGardner.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rqrfquxt/kevingardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>