<?xml version="1.0" encoding="utf-8"?>
<Media Key="665948d8-a321-47ef-9bb8-bd5a97b9a96f" Alias="kevin-gardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T16:35:37</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fl0pxbb0/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>