<?xml version="1.0" encoding="utf-8"?>
<Media Key="48d8247b-205d-4808-9392-c171d6909edf" Alias="map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/mapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T17:18:05</CreateDate>
    <NodeName Default="map.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rgmhvksg/map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>