<?xml version="1.0" encoding="utf-8"?>
<Media Key="b18acd21-eca5-40fa-b681-6d3c671dadd0" Alias="MirandaDayton.svg" Level="2">
  <Info>
    <Parent Key="a2b7c6fb-d1e6-488e-baa5-efde19918b2e">Team Members</Parent>
    <Path>/TeamMembers/MirandaDaytonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T17:07:53</CreateDate>
    <NodeName Default="MirandaDayton.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0nycqu34/mirandadayton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>