<?xml version="1.0" encoding="utf-8"?>
<Media Key="26719aae-d115-4c95-b009-aa95ac846cd9" Alias="Partners.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partnerssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:43:49</CreateDate>
    <NodeName Default="Partners.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lqtnhrao/partners.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>