<?xml version="1.0" encoding="utf-8"?>
<Media Key="4dde3ffe-3b87-4b42-be9d-7c85bb1247a5" Alias="Risk-Management.svg" Level="2">
  <Info>
    <Parent Key="5f04cc1e-02e9-4d8e-b9a3-fbdd1c85810b">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/RiskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T11:00:16</CreateDate>
    <NodeName Default="Risk-Management.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bsbhzl22/risk-management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>