<?xml version="1.0" encoding="utf-8"?>
<Media Key="7fb219dc-e2d1-4025-bb92-c9ea76c4fc68" Alias="Risk2.svg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Risk2svgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T14:54:09</CreateDate>
    <NodeName Default="Risk2.svg.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f0sbbhok/risk2svg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>