<?xml version="1.0" encoding="utf-8"?>
<Media Key="5f04cc1e-02e9-4d8e-b9a3-fbdd1c85810b" Alias="Services Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-06T10:57:47</CreateDate>
    <NodeName Default="Services Thumbnails" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>