<?xml version="1.0" encoding="utf-8"?>
<Media Key="be40373f-f5a4-4b16-9a72-0ad11c38dcf4" Alias="sl-home2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/slHome2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T11:29:37</CreateDate>
    <NodeName Default="sl-home2.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zwfoexf5/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>