<?xml version="1.0" encoding="utf-8"?>
<Media Key="c744666d-bd1d-437a-ace9-7b74a5ee7f32" Alias="Statistic-Advisors.svg" Level="2">
  <Info>
    <Parent Key="5f04cc1e-02e9-4d8e-b9a3-fbdd1c85810b">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/StatisticAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T11:00:16</CreateDate>
    <NodeName Default="Statistic-Advisors.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/t5npmjig/statistic-advisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>