<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac7ff8fc-53e8-402e-9a1f-86bf6a45296c" Alias="success-image.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/successImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T12:14:03</CreateDate>
    <NodeName Default="success-image.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bzcn0txt/success-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>