<?xml version="1.0" encoding="utf-8"?>
<Media Key="a411a550-65bc-411f-95ef-df4e3e09670e" Alias="Tax-Trusts.svg" Level="2">
  <Info>
    <Parent Key="5f04cc1e-02e9-4d8e-b9a3-fbdd1c85810b">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/TaxTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T11:00:16</CreateDate>
    <NodeName Default="Tax-Trusts.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uimlgrvh/tax-trusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>