<?xml version="1.0" encoding="utf-8"?>
<Media Key="0249890c-98ec-4546-b073-a9bba978dcfb" Alias="Tina-Fox.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T16:09:30</CreateDate>
    <NodeName Default="Tina-Fox.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5y0oxyhx/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>