<?xml version="1.0" encoding="utf-8"?>
<Media Key="e96195f8-8fb1-4b2a-94ef-1b9e0b94953d" Alias="Trust-Image.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TrustImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-12T10:15:48</CreateDate>
    <NodeName Default="Trust-Image.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/biumgc3k/trust-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>