<?xml version="1.0" encoding="utf-8"?>
<Content Key="80198251-7c2d-479a-a59a-3e96cfec3ee5" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="e02315c5-b83c-4ac8-9d76-2490bf1c5946">Services</Parent>
    <Path>/Home/Services/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-06T11:02:13</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="dc7aa88b-d3a9-4ce3-a83e-61a7fbf8b9bc">ServiceDetail</Template>
  </Info>
  <Properties>
    <extraContactSection>
      <Value><![CDATA[]]></Value>
    </extraContactSection>
    <pageTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "2037abf2-6c77-4b8a-9b34-43e69347fdaa",
      "key": "67e4bd1f-7097-4916-9f2a-e5544ce5fbc1",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "141947f1-8111-4356-baa1-fca2e0beab9f",
              "mediaKey": "c744666d-bd1d-437a-ace9-7b74a5ee7f32",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "67e4bd1f-7097-4916-9f2a-e5544ce5fbc1",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "67e4bd1f-7097-4916-9f2a-e5544ce5fbc1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "898b6270-2c56-4c77-b173-e83605e2ea6d",
    "mediaKey": "ef1477bc-52cf-4483-964c-a785cf08c7ed",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>