<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e1b23d4-892e-485f-b3c1-715db8188282" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="e02315c5-b83c-4ac8-9d76-2490bf1c5946">Services</Parent>
    <Path>/Home/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-06T11:02:28</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="dc7aa88b-d3a9-4ce3-a83e-61a7fbf8b9bc">ServiceDetail</Template>
  </Info>
  <Properties>
    <extraContactSection>
      <Value><![CDATA[]]></Value>
    </extraContactSection>
    <pageTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "2037abf2-6c77-4b8a-9b34-43e69347fdaa",
      "key": "998b16ac-306e-49f2-b137-f348a594d604",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b54f6f16-88a0-4042-88f7-a2f31452a084",
              "mediaKey": "c744666d-bd1d-437a-ace9-7b74a5ee7f32",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "998b16ac-306e-49f2-b137-f348a594d604",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "998b16ac-306e-49f2-b137-f348a594d604",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "d54f05f1-9581-43fa-9620-aceef7205df5",
    "mediaKey": "eca170fa-549b-4d1f-afee-eced7c1d4185",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>