<?xml version="1.0" encoding="utf-8"?>
<Content Key="1280ed76-3dd9-4666-b77a-634b0c975b2e" Alias="Contact" Level="2">
  <Info>
    <Parent Key="21d793ec-cb18-407f-a197-0bbd9064dcfa">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-11-04T12:27:35</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="50d28d3d-56b9-4b2f-ac0b-18162966d638">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "fab7f7dc-4645-45f4-8536-d30f710c3e1a",
      "key": "f7c481d1-ccd9-467e-87c8-324e112c4394",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f75dc10c-9f69-4d7d-ac10-39ac60801875",
              "mediaKey": "dcb39330-b904-4dab-ad79-e441022d643d",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "69d767fb-ba4e-4e5d-99c4-318d50037f7b",
      "key": "d7a672ff-fe8d-415e-b981-39090f5558eb",
      "udi": null,
      "values": [
        {
          "alias": "footerContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan class=\u0022text-primary\u0022\u003E\u00A9 Onatrix. All Rights Reserved. Credits to\u003C/span\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003E \u003C/span\u003E\u003Cspan class=\u0022text-secondary\u0022\u003EThemesflat\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "36a54e10-f8f1-42e6-a141-d153ad311b1a",
      "key": "c298bd38-2606-4784-b5ea-5e94082b1856",
      "udi": null,
      "values": [
        {
          "alias": "partnerLogos",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7dad8b3e-edeb-486a-b7be-1982e20443cc",
              "mediaKey": "26719aae-d115-4c95-b009-aa95ac846cd9",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "3f26b547-f43e-4187-9790-4cea80788cb9",
      "key": "6865d6d3-2795-4153-ad13-1e7d4168a734",
      "udi": null,
      "values": [
        {
          "alias": "projectLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "projectBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003ELet us know about your\u003Cbr\u003Enext project\u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cem\u003E\u003Cspan class=\u0022text-body-text\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus\u003C/span\u003E\u003C/em\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "projectBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "cc2463bb-2314-43c5-8791-7785fc9a7d68",
              "mediaKey": "48d8247b-205d-4808-9392-c171d6909edf",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "9d16e76e-4c9f-44b1-90f5-5e4f5243c6e5",
      "key": "160935f6-2067-4370-8a8a-1a85a894e2a8",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "f7c481d1-ccd9-467e-87c8-324e112c4394",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d7a672ff-fe8d-415e-b981-39090f5558eb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c298bd38-2606-4784-b5ea-5e94082b1856",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6865d6d3-2795-4153-ad13-1e7d4168a734",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f7c481d1-ccd9-467e-87c8-324e112c4394",
        "contentUdi": null,
        "settingsKey": "160935f6-2067-4370-8a8a-1a85a894e2a8",
        "settingsUdi": null
      },
      {
        "contentKey": "6865d6d3-2795-4153-ad13-1e7d4168a734",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "c298bd38-2606-4784-b5ea-5e94082b1856",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "d7a672ff-fe8d-415e-b981-39090f5558eb",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>