<?xml version="1.0" encoding="utf-8"?>
<Content Key="76bfd305-3b6d-4b8f-9291-93a78e473b46" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="e02315c5-b83c-4ac8-9d76-2490bf1c5946">Services</Parent>
    <Path>/Home/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-06T11:01:37</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="dc7aa88b-d3a9-4ce3-a83e-61a7fbf8b9bc">ServiceDetail</Template>
  </Info>
  <Properties>
    <extraContactSection>
      <Value><![CDATA[]]></Value>
    </extraContactSection>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "2037abf2-6c77-4b8a-9b34-43e69347fdaa",
      "key": "406dc2cb-ef41-461c-8f49-52b36c12658c",
      "udi": null,
      "values": [
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About Us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "bc61f4d5-995b-45e0-bfa8-ec722aea74e8",
              "mediaKey": "c744666d-bd1d-437a-ace9-7b74a5ee7f32",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "406dc2cb-ef41-461c-8f49-52b36c12658c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "406dc2cb-ef41-461c-8f49-52b36c12658c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "19789006-6840-494a-b132-78d9effb9631",
    "mediaKey": "f6aa77ea-e0bd-4fb1-89e8-832ab17a2077",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>