<?xml version="1.0" encoding="utf-8"?>
<Content Key="e02315c5-b83c-4ac8-9d76-2490bf1c5946" Alias="Services" Level="2">
  <Info>
    <Parent Key="21d793ec-cb18-407f-a197-0bbd9064dcfa">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-11-04T15:48:37</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b0983d96-61a3-48a8-bccc-d0d642854485">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5ee04181-7002-4a4f-9d20-b9a3eac7e221",
      "key": "22922038-d930-40aa-b0e4-2f005d92da56",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "fab7f7dc-4645-45f4-8536-d30f710c3e1a",
      "key": "798080f8-d8ca-4603-90d3-1370fe69e798",
      "udi": null,
      "values": [
        {
          "alias": "contactTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "74d78a53-a521-4f6a-b317-3b09ace7063f",
              "mediaKey": "dcb39330-b904-4dab-ad79-e441022d643d",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "69d767fb-ba4e-4e5d-99c4-318d50037f7b",
      "key": "dab743a9-03f4-4a07-b87f-f487e2bb7ae9",
      "udi": null,
      "values": [
        {
          "alias": "footerContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan class=\u0022text-primary\u0022\u003E\u00A9 Onatrix. All Rights Reserved. Credits to\u003C/span\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003E \u003C/span\u003E\u003Cspan class=\u0022text-secondary\u0022\u003EThemesflat\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "470f3669-8306-4ace-a9a2-a3062fbad161",
      "key": "1d27cdbf-5e24-4f87-8f8f-54acd2d4ca69",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "9d16e76e-4c9f-44b1-90f5-5e4f5243c6e5",
      "key": "6fbf80b9-24b4-45b0-98c5-cd308f8c8a13",
      "udi": null,
      "values": [
        {
          "alias": "contactBackground",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "22922038-d930-40aa-b0e4-2f005d92da56",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "798080f8-d8ca-4603-90d3-1370fe69e798",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "dab743a9-03f4-4a07-b87f-f487e2bb7ae9",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "22922038-d930-40aa-b0e4-2f005d92da56",
        "contentUdi": null,
        "settingsKey": "1d27cdbf-5e24-4f87-8f8f-54acd2d4ca69",
        "settingsUdi": null
      },
      {
        "contentKey": "798080f8-d8ca-4603-90d3-1370fe69e798",
        "contentUdi": null,
        "settingsKey": "6fbf80b9-24b4-45b0-98c5-cd308f8c8a13",
        "settingsUdi": null
      },
      {
        "contentKey": "dab743a9-03f4-4a07-b87f-f487e2bb7ae9",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>