<?xml version="1.0" encoding="utf-8"?>
<Content Key="0cfb7b5a-f8af-4b82-bc32-d561b4fa5142" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="e02315c5-b83c-4ac8-9d76-2490bf1c5946">Services</Parent>
    <Path>/Home/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-06T11:00:37</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="dc7aa88b-d3a9-4ce3-a83e-61a7fbf8b9bc">ServiceDetail</Template>
  </Info>
  <Properties>
    <extraContactSection>
      <Value><![CDATA[]]></Value>
    </extraContactSection>
    <pageTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "2037abf2-6c77-4b8a-9b34-43e69347fdaa",
      "key": "65f97ee8-c0b2-4d80-8dd5-d78b65e0b8f4",
      "udi": null,
      "values": [
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        },
        {
          "alias": "infoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c76c4eb9-e856-4a72-aec9-8eaf5e244561",
              "mediaKey": "c744666d-bd1d-437a-ace9-7b74a5ee7f32",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "65f97ee8-c0b2-4d80-8dd5-d78b65e0b8f4",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "65f97ee8-c0b2-4d80-8dd5-d78b65e0b8f4",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "aed092df-45fd-4526-8c08-1bce8ede4802",
    "mediaKey": "c744666d-bd1d-437a-ace9-7b74a5ee7f32",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>