@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.PartnerSection)Model.Content;
    var partnerLogos = content.Value<Umbraco.Cms.Core.Models.MediaWithCrops>("partnerLogos");
}

<section class="bg-neutral pt-[8rem] mt-50 pb-[4rem]">
    @if (partnerLogos != null)
    {
        <div class="container mx-auto px-4">
            <img src="@partnerLogos.Url()"
                 alt="@partnerLogos.Name"
                 class="mx-auto w-full max-w-[1100px] h-auto object-contain" />
        </div>
    }
</section>