<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2c867dd5-ccc5-4965-9fdb-92978e91016b" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9f911489-aa8b-4645-b6c2-d5e323689a7b"
    },
    {
      "contentElementTypeKey": "5ee04181-7002-4a4f-9d20-b9a3eac7e221",
      "settingsElementTypeKey": "470f3669-8306-4ace-a9a2-a3062fbad161"
    },
    {
      "contentElementTypeKey": "50d151dd-ec59-494e-8006-344a45dadc87"
    },
    {
      "contentElementTypeKey": "9d6e16c1-2c14-42d1-bdd5-1b34ca64a49b",
      "settingsElementTypeKey": "228e731a-e2fe-4eef-abb0-f8e82010464c"
    },
    {
      "contentElementTypeKey": "fab7f7dc-4645-45f4-8536-d30f710c3e1a",
      "settingsElementTypeKey": "9d16e76e-4c9f-44b1-90f5-5e4f5243c6e5"
    },
    {
      "contentElementTypeKey": "434d8ad4-c3b8-442c-9d50-31866842be89"
    },
    {
      "contentElementTypeKey": "353b72ab-b9ae-4d28-afeb-c7734d8ebc73"
    },
    {
      "contentElementTypeKey": "36a54e10-f8f1-42e6-a141-d153ad311b1a"
    },
    {
      "contentElementTypeKey": "69d767fb-ba4e-4e5d-99c4-318d50037f7b"
    },
    {
      "contentElementTypeKey": "fbc9247b-1f16-47fd-9169-779e87fb612c"
    },
    {
      "contentElementTypeKey": "2ff85002-d724-4392-8576-cae17f398511"
    },
    {
      "contentElementTypeKey": "3f26b547-f43e-4187-9790-4cea80788cb9"
    }
  ]
}]]></Config>
</DataType>