<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f0d671a4-b3ca-4afa-8912-f04d4f224d7f" Alias="Service Detail Aside - List" Level="1">
  <Info>
    <Name>Service Detail Aside - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "2037abf2-6c77-4b8a-9b34-43e69347fdaa"
    }
  ]
}]]></Config>
</DataType>