<?xml version="1.0" encoding="utf-8"?>
<DataType Key="887a36d8-4776-4906-b5da-a92d324981f5" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d94f0ba6-ae4f-4aa4-8e2a-bfee34bfb9d4",
      "label": "[umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>