<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f50949c3-0645-4003-b628-3eb04286e3a3" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5bd04403-4133-4ac9-bac2-3846793a45a7",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>