<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="03cf4346-cb37-449a-90d6-9241881bbf4f" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c1c89427-89ef-4c69-8ebe-a9636dd2f6fa">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e74f1c3a-0e7d-49ba-8e04-9b4d4d7cf0f6" SortOrder="0">contactPage</ContentType>
    <ContentType Key="437fa8e1-3db1-4e6b-b2bd-95b676b15679" SortOrder="1">servicePage</ContentType>
    <ContentType Key="f80d9767-925d-41ae-a993-b2c884a54375" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>087a068f-d8f0-4620-b790-db6698757a0f</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>2c867dd5-ccc5-4965-9fdb-92978e91016b</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5e7a47b8-c19f-419b-8eaf-558a7e99b16b</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>